.backdrop {
  bottom: 0;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

//.modal.show {
//  display: block;
//}

//.modal-backdrop.show {
//  opacity: .5;
//}
