<div class="sidenav">
  <div class="logo-container">
    <button class="logo" title="My Assistant">MA</button>
  </div>

  <ul class="sidenav-nav">

    <li class="sidenav-nav-item" label="Home Page">
      <a
        [routerLinkActiveOptions]="{exact: true}" class="sidenav-nav-link"
        routerLink="/home-page"
        routerLinkActive="active">
        <img alt="icon" class="sidenav-link-icon" src="./assets/icons/homepage.svg" title="Home"/>
      </a>
    </li>

    <li class="sidenav-nav-item" label="Commands Tables">
      <a *ngIf=" (isLogin$ | async)"
         [routerLinkActiveOptions]="{exact: true}" class="sidenav-nav-link"
         routerLink="/my-scripts"
         routerLinkActive="active">
        <img alt="icon" class="sidenav-link-icon" src="./assets/icons/script.svg" title="Commands Tables"/>
      </a>

    </li>

    <li class="sidenav-nav-item reorderChat">
      <a (click)="opT.show($event, targetEl)" *ngIf=" (isLogin$ | async)" class="sidenav-nav-link"
         routerLinkActive="active">
        <img alt="icon" class="sidenav-link-icon" src='./assets/icons/voice-recorder.svg' title="Open your assistant"/>
        <div #targetEl class="mt-5 ml-6 w-10rem h-8rem flex align-items-center justify-content-center"></div>
        <p-overlayPanel #opT
                        [appendTo]="targetEl" [dismissable]="true"
                        [hideTransitionOptions]="'500ms'" [showCloseIcon]="false"
                        [showTransitionOptions]="'500ms'" [style]="{width: '100%'}">
          <div class="chat-container">
            <app-chat></app-chat>
          </div>
        </p-overlayPanel>
      </a>
    </li>


    <li (click)="op.toggle($event)"
        class="sidenav-nav-item notification">
      <a *ngIf=" (isLogin$ | async)" class="sidenav-nav-link">
        <img alt="icon" class="sidenav-link-icon" src="./assets/icons/notification.svg" title="Notifications"/>
      </a>

      <p-overlayPanel #op>
        <app-notification-list></app-notification-list>
      </p-overlayPanel>
    </li>

    <li class="sidenav-nav-item">
      <a (click)="setToggleModal($event)" [routerLinkActiveOptions]="{exact: true}" class="sidenav-nav-link"
         routerLinkActive="active"
      >
        <img alt="icon" class="sidenav-link-icon" src="assets/icons/acc.svg" title="My Profile"/>
      </a>
    </li>
  </ul>

</div>
