
.record_btn {
  font-family: "Material Icons", serif;
  font-size: 28px;
  color: rgb(129 255 0 / 94%);
  background: none;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.15s linear;
  border: none;

}

.record_btn:hover {
  transition: 0.15s linear;
  transform: scale(1.05);
}

.record_btn:after {
  content: "\e029";
}

.record_btn.recording:after {
  content: "\e047";
}


.recording {
  animation: recording 2s infinite ease-in-out;
  position: relative;
}

.recording:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  margin: 0;
  border-radius: 50%;
  background: #81FF00EF;
  animation: recording_before 2s infinite ease-in-out;
}

@keyframes recording {
  from {
    transform: scale(1.1);
  }

  50% {
    transform: none;
  }

  to {
    transform: scale(1.1);
  }
}

@keyframes recording_before {
  80% {
    width: 200px;
    height: 200px;
    margin: -100px;
    opacity: 0;
  }

  to {
    opacity: 0;
  }
}
