:host::ng-deep{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover{
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    }

    .user-card__name{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .user-card__email{
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 20px;
    }


}
