<div class="container">

  <p-toast></p-toast>

  <div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button (click)="openNew()" class="p-button-success mr-2" icon="pi pi-plus" label="New" pButton
                pRipple></button>
        <button (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"
                [label]="Delete" class="p-button-danger" icon="pi pi-trash"
                pButton
                pRipple></button>
      </ng-template>

      <ng-template pTemplate="right">
        <p-fileUpload [maxFileSize]="1000000" accept="image/*" chooseLabel="Import" class="mr-2 inline-block"
                      label="Import"
                      mode="basic"></p-fileUpload>
        <button class="p-button-help" icon="pi pi-upload" label="Export" pButton pRipple></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt [(selection)]="selectedProducts"
             [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true"
             [rowHover]="true"
             [rows]="10"
             [showCurrentPageReport]="true" [tableStyle]="{'min-width': '75rem'}" [value]="products"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             dataKey="id">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Manage Scripts</h5>
          <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
            <!--TODO: $event.target.value  -->
                    <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="Search..."
                           type="text"/>
                </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 2rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>

          <th>Icon</th>

          <th pSortableColumn="name">App Name
            <p-sortIcon field="name"></p-sortIcon>
          </th>

          <th pSortableColumn="price">Command
            <p-sortIcon field="price"></p-sortIcon>
          </th>

          <th pSortableColumn="description">Description
            <p-sortIcon field="description"></p-sortIcon>
          </th>

          <th pSortableColumn="category">Parameters
            <p-sortIcon field="category"></p-sortIcon>
          </th>

          <!--            <th pSortableColumn="rating">Reviews-->
          <!--              <p-sortIcon field="rating"></p-sortIcon>-->
          <!--            </th>-->

          <th pSortableColumn="inventoryStatus">Status
            <p-sortIcon field="inventoryStatus"></p-sortIcon>
          </th>

        </tr>
      </ng-template>

      <!--        <ng-template *ngFor="let script of scripts" pTemplate="body">-->
      <!--          <tr>-->
      <!--            <td>-->
      <!--              <p-tableCheckbox [value]="script"></p-tableCheckbox>-->
      <!--            </td>-->
      <!--            <td>{{script.name}}</td>-->
      <!--            <td><img [alt]="script.name"-->
      <!--                     [src]="script.picture" class="shadow-4" width="100"/></td>-->
      <!--            <td>{{script.name}}</td>-->
      <!--            <td>-->
      <!--&lt;!&ndash;              <p-rating [cancel]="false" [ngModel]="script.rating" [readonly]="true"></p-rating>&ndash;&gt;-->
      <!--            </td>-->
      <!--&lt;!&ndash;            <td><span&ndash;&gt;-->
      <!--&lt;!&ndash;              [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>&ndash;&gt;-->
      <!--&lt;!&ndash;            </td>&ndash;&gt;-->
      <!--            <td>-->
      <!--              <button (click)="editProduct(product)" class="p-button-rounded p-button-success mr-2" icon="pi pi-pencil" pButton-->
      <!--                      pRipple></button>-->
      <!--              <button (click)="deleteProduct(product)" class="p-button-rounded p-button-warning" icon="pi pi-trash" pButton-->
      <!--                      pRipple></button>-->
      <!--            </td>-->
      <!--          </tr>-->
      <!--        </ng-template>-->

      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          In total there are {{scripts ? scripts.length : 0 }} scripts.
        </div>
      </ng-template>

    </p-table>
  </div>

  <p-dialog [(visible)]="productDialog" [modal]="true" [style]="{width: '450px'}" header="Product Details"
            styleClass="p-fluid">
    <ng-template *ngFor="let script of scripts" pTemplate="content">

      <div class="field">
        <label for="name">App Name</label>
        <input [(ngModel)]="script.name" autofocus id="name" pInputText required type="text"/>
        <small *ngIf="submitted && !script.name" class="p-error">Name is required.</small>
      </div>

      <div class="field">
        <label for="command">Command</label>
        <input [(ngModel)]="script.command" autofocus id="command" pInputText required type="text"/>
        <small *ngIf="submitted && !script.command" class="p-error">Name is required.</small>
      </div>

      <div class="field">
        <label for="description">Description</label>
        <textarea [(ngModel)]="script.description" cols="20" id="description" pInputTextarea required
                  rows="3"></textarea>
      </div>

      <div class="field">
        <label for="inventoryStatus">Status</label>
        <p-dropdown [(ngModel)]="script.status" [options]="statuses" id="inventoryStatus"
                    placeholder="Select">
          <ng-template let-option pTemplate="item">
            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
          </ng-template>

        </p-dropdown>

      </div>


    </ng-template>

    <ng-template pTemplate="footer">
      <button (click)="hideDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton pRipple></button>
      <button (click)="saveProduct()" class="p-button-text" icon="pi pi-check" label="Save" pButton pRipple></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</div>


<!--<div class="container">-->
<!--<section class="wrapper">-->
<!--  <main class="row title">-->
<!--    <ul>-->
<!--      <li>Icon</li>-->
<!--      <li>App Name</li>-->
<!--      <li>Command</li>-->
<!--      <li>Description</li>-->
<!--      <li>Parameter</li>-->
<!--      <li>Status</li>-->
<!--    </ul>-->
<!--  </main>-->

<!--  <div class="row nfl" *ngFor="let script of scripts" >-->
<!--    <ul>-->

<!--      <li>-->
<!--        <figure class="avatar">-->
<!--          <img [src]="script.picture"/>-->
<!--        </figure>-->
<!--      </li>-->
<!--      <li>{{script.name}}</li>-->
<!--      <li>{{script.command}}</li>-->
<!--      <li>{{script.description}}</li>-->
<!--      <li>{{script.parameters}}</li>-->
<!--      <li>{{script.status}}</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</section>-->
<!--</div>-->
