@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin ball {
  @include center;
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .5);
  z-index: 2;
  margin-top: 4px;
  animation: ball .45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


.chat {
  width: 82vw;
  height: 90vh;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.chat-title {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 56px;

  h1, h2 {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

  h2 {
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
    letter-spacing: 1px;
  }

  .avatar {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 9px;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(255, 255, 255, 0.24);

    img {
      width: 100%;
      height: auto;
    }
  }
}


.messages {
  flex: 1 1 auto;
  color: rgba(255, 255, 255, .5);
  overflow: scroll;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  max-height: 84%;

  .message {
    clear: both;
    float: left;
    padding: 15px 12px 15px;
    border-radius: 10px 10px 10px 0;
    background: rgba(0, 0, 0, 0.3);
    font-size: 30px;
    line-height: 1.4;
    margin: 10px 0 9px 17px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    .timestamp {
      position: absolute;
      bottom: -15px;
      font-size: 9px;
      color: rgba(255, 255, 255, .3);
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -6px;
      border-top: 6px solid rgba(0, 0, 0, .3);
      left: 0;
      border-right: 7px solid transparent;
    }

    .avatar {
      position: absolute;
      z-index: 1;
      bottom: -15px;
      left: -35px;
      border-radius: 30px;
      width: 30px;
      height: 30px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 2px solid rgba(255, 255, 255, 0.24);

      img {
        width: 100%;
        height: auto;
      }
    }

    &.message-personal {
      float: right;
      color: #fff;
      text-align: right;
      background: linear-gradient(120deg, #248A52, #257287);
      border-radius: 10px 10px 0 10px;
      margin: 8px 20px 8px 0;

      &::before {
        left: auto;
        right: 0;
        border-right: none;
        border-left: 5px solid transparent;
        border-top: 4px solid #257287;
        bottom: -4px;
      }
    }

    &:last-child {
      margin-bottom: 30px;
    }

    &.new {
      transform: scale(0);
      transform-origin: 0 0;
      animation: bounce 500ms linear both;
    }

    &.loading {

      &::before {
        @include ball;
        border: none;
        animation-delay: .15s;
      }

      & span {
        display: block;
        font-size: 0;
        width: 20px;
        height: 10px;
        position: relative;

        &::before {
          @include ball;
          margin-left: -7px;
        }

        &::after {
          @include ball;
          margin-left: 7px;
          animation-delay: .3s;
        }
      }
    }

  }
}

/* ----- scrollbar  ----- */

.messages::-webkit-scrollbar {
  width: 5px;
}

.messages::-webkit-scrollbar-track {
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.messages::-webkit-scrollbar-thumb {
  background-color: #0d5e69;
}

.message-box {
  flex: 0 1 70px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 17px;
  position: relative;
  overflow: hidden;

  & .message-input {
    background: none;
    border: none;
    outline: none !important;
    resize: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 34px;
    height: 50px;
    margin: 0;
    padding-right: 341px;
    width: 91%;
    overflow-y: scroll;
    box-sizing: content-box;
  }

  & .message-submit {
    position: absolute;
    z-index: 1;
    top: 13px;
    right: 75px;
    color: #fff;
    border: none;
    background: #174653;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
    padding: 13px 15px;
    border-radius: 20px;
    outline: none !important;
    transition: background 0.2s ease;

    &:hover {
      background: #0d5e69;

    }

    &:active {
      background: rgba(129, 255, 0, 0.49);
    }

  }

  & .mic-btn {
    position: absolute;
    z-index: 1;
    top: 7px;
    right: 3px;
    border: none;
    background: transparent;
  }
}


@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}


@keyframes ball {
  from {
    transform: translateY(0) scaleY(.8);
  }
  to {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 450px) {
  .chat {
    flex-direction: column;
    height: 400px;
    width: 300px;
    max-width: 100%;
    border-radius: 0;

    & .chat-title {
      h1 {
        font-size: 16px;
      }

      h2 {
        font-size: 9px;
      }

      .avatar {
        left: 14px;
      }
    }

    & .messages {
      height: 100%;
      width: 100%;
      max-width: 100%;
      border-radius: 0;
      color: rgb(255 255 255 / 88%);


      & .message {
        font-size: 14px;
        padding: 5px 5px 5px;
        margin: 5px 0 4px 5px;

        &:last-child {
          margin-bottom: 5px;
        }

      }
    }

    & .message-box {
      flex: 0 1 54px;
      padding: 15px;
      width: 100%;
      max-width: 100%;
      border-radius: 0;

      & .message-input {
        font-size: 12px;
        height: 10px;
        width: 60%;
      }

      & .message-submit {
        top: 8px;
        right: 50px;
        background: #163c46;
        font-size: 12px;
        padding: 10px 10px;
        border-radius: 12px;

      }

      & .mic-btn {
        top: 3px;
        right: -5px;
      }

    }
  }
}
