<div class="chat">
  <div class="chat-title">
    <h1>Mohamed Zaky</h1>
    <h2>software engineer</h2>
    <figure class="avatar">
      <img alt="avatar" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg"/>
    </figure>
  </div>
  <div #messagesContent class="messages">
    <div   class="message-container messages-content">
      <ng-container *ngFor="let message of messages">
        <div class="message new {{message.personal ? 'message-personal' : ''}}">
          {{message.message}}
        </div>
      </ng-container>
    </div>
  </div>
  <div class="message-box">
    <textarea class="message-input" placeholder="Type message..."></textarea>
    <button class="message-submit" type="submit">Send</button>
  </div>
</div>

<audio #audioElement></audio>
