<div class="container">
  <p-toast></p-toast>

  <div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button (click)="openNew()" class="p-button-success mr-2" icon="pi pi-plus" label="New" pButton
                pRipple></button>
        <button (click)="deleteSelectedCommands()" [disabled]="!selectedCommands || !selectedCommands.length"
                [label]="Delete" class="p-button-danger" icon="pi pi-trash"
                pButton pRipple></button>
      </ng-template>

      <ng-template pTemplate="right">
        <button (click)="openMarketplaceDialog()" class="p-button-success mr-2" icon="pi pi-plus" label="Marketplace"
                pButton
                pRipple></button>
      </ng-template>

    </p-toolbar>

    <p-table #dt [(selection)]="selectedCommands"
             [globalFilterFields]="['name','command','status', 'description']"
             [paginator]="true"
             [rowHover]="true"
             [rows]="5" [showCurrentPageReport]="true" [tableStyle]="{'min-width': '75rem'}"
             [value]="commands"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             dataKey="id"
    >

      <ng-template pTemplate="caption">

        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Manage Commands</h5>
          <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText placeholder="Search..."
                           type="text"/>
                </span>
        </div>

      </ng-template>

      <ng-template pTemplate="header">

        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th></th>
          <th class="td-width" pSortableColumn="name">Name
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th class="td-width" pSortableColumn="commands">Command
            <p-sortIcon field="commands"></p-sortIcon>
          </th>
          <th class="td-width">Description</th>
          <th class="td-width">Parameters</th>
          <th class="td-width" pSortableColumn="status">Status
            <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th class="td-width"></th>
        </tr>

      </ng-template>
      <ng-template let-command pTemplate="body">
        <tr>
          <td>
            <p-tableCheckbox [value]="command"></p-tableCheckbox>
          </td>
          <td>
            <figure class="avatar">
              <img [src]="command.icon" class="shadow-4">
            </figure>
          </td>
          <td class="truncateT td-width">{{command.name}}</td>
          <td class="truncateT td-width">{{command.commands}}</td>
          <td class="truncate td-width">{{command.description}}</td>
          <td class="truncateT td-width">{{command.parameters}}</td>
          <td class="truncateT td-width"><span
            [class]="'status-' + (command.status ? command.status.toLowerCase() : '')">{{command.status}}</span>
          </td>
          <!--          <td><p-rating [ngModel]="command.rating" [readonly]="true" [cancel]="false"></p-rating></td>-->

          <td class="truncateT td-width">
            <button (click)="editCommand(command)"
                    class="p-button-rounded p-button-success mr-2"
                    icon="pi pi-pencil"
                    pButton
                    pRipple></button>
            <button (click)="deleteCommand(command)"
                    class="p-button-rounded p-button-warning"
                    icon="pi pi-trash"
                    pButton
                    pRipple></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          In total there are {{commands ? commands.length : 0 }} Commands.
        </div>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [(visible)]="commandDialog"
            [modal]="true"
            [style]="{width: '40%'}"
            header="Create New Command"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="field">
        <label for="name">Name</label>
        <input [(ngModel)]="command.name" autofocus id="name"
               pInputText required type="text">
        <small *ngIf="submitted && !command.name" class="p-error">Name is required.</small>
      </div>

      <div class="field">
        <label for="description">Description</label>
        <textarea [(ngModel)]="command.description"
                  cols="10" id="description" pInputTextarea
                  rows="1"></textarea>
      </div>

      <div class="field parametersNumber">
        <label for="parametersNo" style="display: block">Parameters Number </label>
        <div class="flex">
          <p-inputNumber #paramNum (click)="onStateChange()" [(ngModel)]="command.parametersNumber"
                         [showButtons]="true"
                         [style]="{width: '110px', height: '30'}"
                         buttonLayout="horizontal"
                         class="ml-1 mr-1"
                         decrementButtonClass="p-button-secondary"
                         decrementButtonIcon="pi pi-minus"
                         id="parametersNo"
                         incrementButtonClass="p-button-secondary"
                         incrementButtonIcon="pi pi-plus"
                         max="4"
                         min="0"
                         placeholder="0"

          >
          </p-inputNumber>
          <input
            *ngIf="command.parametersNumber >= 1"
            [(ngModel)]="command.parameters[0]"
            autofocus
            class="ml-1"
            pInputText
            required
            type="text"
          >
          <input
            *ngIf="command.parametersNumber >= 2"
            [(ngModel)]="command.parameters[1]"
            autofocus
            class="ml-1"
            pInputText
            required
            type="text"
          >
          <input
            *ngIf="command.parametersNumber >= 3"
            [(ngModel)]="command.parameters[2]"
            autofocus
            class="ml-1"
            pInputText
            required
            type="text"
          >
          <input
            *ngIf="command.parametersNumber >= 4"
            [(ngModel)]="command.parameters[3]"
            autofocus
            class="ml-1"
            pInputText
            required
            type="text"
          >
        </div>
      </div>


      <div class="field">
        <label for="commands">Pattern</label>
        <input [(ngModel)]="command.commands" id="commands" pInputText required type="text">
        <small *ngIf="submitted && !command.commands" class="p-error">Commands is required.</small>
      </div>





      <div [style]="{alignSelf: 'end', marginLeft: 'auto'}" class="field justify-content-between p-1 flex">
        <div class="field p-1" >

          <label for="script" style="display: block"   >Script</label>
          <p-fileUpload #scriptUpload
                        [maxFileSize]="1000000"
                        accept="{{acceptedScripts}}"
                        class="mr-2 inline-block scriptUpload"
                        invalidFileTypeMessageSummary="Invalid file type"
                        mode="basic"
                        name="script"
                        id="script"
                        chooseIcon="pi pi-upload"
                        cancelLabel="Cancel"
                        chooseLabel="Upload Script"
                        [showUploadButton]="false"
                        [style]="{width: '100%'}"
                        (onSelect)="onUploadScript($event)">
          </p-fileUpload>
          <button
            (click)="onClearScriptSelection()"
            *ngIf="scriptUpload.files && scriptUpload.files.length > 0"
            class="p-button-rounded p-button-warning ml-1"
            icon="pi pi-trash"
            pButton
            pRipple>
          </button>
        </div>

        <div class="flex">

          <div class="field p-1">
            <label for="scriptType">Script type</label>
            <p-dropdown [(ngModel)]="command.scriptType" [options]="scriptType" id="scriptType" placeholder="Select"
                        required>
              <ng-template let-option pTemplate="item">
                <span>{{option.label}}</span>
              </ng-template>
            </p-dropdown>
            <small *ngIf="submitted && !command.scriptType" class="p-error">Script type is required.</small>

          </div>

          <div class="field p-1 ">
            <label for="visibility">Visibility</label>
            <p-dropdown [(ngModel)]="command.visibility" [options]="status" id="visibility" placeholder="Select">
              <ng-template let-option pTemplate="item">
                <span>{{option.label}}</span>
              </ng-template>
            </p-dropdown>
          </div>
        </div>
      </div>


      <div class="field justify-content-between p-1 flex">
        <div  class="field p-1" >
          <label for="requirementsFile" style="display: block">Requirements File</label>
          <p-fileUpload #requirementsFile
                        [maxFileSize]="1000000"
                        accept=".txt"
                        chooseLabel="Upload File"
                        class="mr-2 inline-block"
                        invalidFileTypeMessageSummary="Invalid file type"
                        label="Upload Requirements File"
                        mode="basic"
                        name="requirementsFile"
                        id="requirementsFile"
                        (onSelect)="onUploadRequirementsFile($event)">
          </p-fileUpload>
          <button
            (click)="onClearRequirementsSelection()"
            *ngIf="requirementsFile.files && requirementsFile.files.length > 0"
            class="p-button-rounded p-button-warning ml-1"
            icon="pi pi-trash"
            pButton
            pRipple>
          </button>
        </div>

        <div class="field p-1">
          <label for="icon" style="display: block">Icon</label>
          <p-fileUpload #iconUpload
                        (onSelect)="onUploadIcon($event)"
                        [maxFileSize]="1000000"
                        [style]="{backgroundColor:'#5783db'}"
                        accept="image/*"
                        cancelLabel="Choose Another Icon"
                        chooseLabel="Icon"
                        mode="basic"
                        id="icon"
                        name="icon"
                        chooseIcon="pi pi-upload"
          >
          </p-fileUpload>
          <button (click)="onClearIconSelection()"
                  *ngIf="iconUpload.files && iconUpload.files.length > 0"
                  class="p-button-rounded p-button-warning ml-3"
                  icon="pi pi-trash"
                  pButton
                  pRipple>
          </button>
        </div>


      </div>


    </ng-template>

    <ng-template pTemplate="footer">
      <button (click)="hideDialog()" class="p-button-text" icon="pi pi-times" label="Cancel" pButton pRipple></button>
      <button (click)="onCreateCommand()" class="p-button-text" icon="pi pi-check" label="Save" pButton
              pRipple></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</div>

<app-marketplace
  (closeMarketplaceEvent)="closeMarketplace()"
  *ngIf="marketplaceFlag"
></app-marketplace>
