:host::ng-deep {
  .login-page {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  mat-card {
    width: 100%;
    border-radius: 8px;
    background: #2a323d;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    border: 1px solid #2a323d;
  }

  mat-form-field, mat-checkbox {
    width: 80%;
    display: block;
    margin: 12px auto;
  }

  mat-card-content {
    margin-top: 20px;
  }

  .login-button {
    display: block;
    width: 80%;
    margin: 20px auto;
  }


  .field-message {
    color: #f44336;
    margin-top: -29px;
    margin-bottom: 14px;
    font-size: 75%;
    font-family: "Roboto", cursive;
    position: absolute;
    left: 31px;
  }
}

