<div class="form" #elRef>
  <div class="logo">Automate<span>Yourself</span></div>

  <div class="login-form form-box myAnimation" id="js-login">
    <div class="curve right"></div>
    <h1>Login</h1>
    <form
      (ngSubmit)="FL.form.valid && onLoginSubmit()"
      [formGroup]="formDataLogin"
      *ngIf="!isLoggedIn"
      #FL="ngForm"
      novalidate
    >
      <label class="js-item" for="email-login">
        <span>email</span>
        <input
          formControlName="userName"
          id="email-login"
          name="email"
          type="email"
        />
      </label>

      <label class="js-item" for="password-login">
        <span>password</span>
        <input
          formControlName="password"
          id="password-login"
          name="password"
          type="password"/>
      </label>

      <button type="submit">Login</button>

    </form>

    <span class="question" data-sign="register"
    >Don't have any account? Sign up</span
    >
  </div>

  <div class="register-form" id="js-register">
    <div class="curve left"></div>
    <h1>Register</h1>
    <form
      (ngSubmit)=" FS.form.valid && onSignUpSubmit()"
      *ngIf="!isSuccessful"
      [formGroup]="formDataSignUp"
      #FS="ngForm"
      novalidate
    >
      <label class="js-item" for="name">
        <span>name</span>
        <input
          required
          formControlName="name"
          id="name"
          name="name"
          type="text"
          minlength="3"
          maxlength="20"
        />
      </label>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.name">
          <div class="error-message"
               *ngIf="formDataSignUp.get('name').hasError(error.type) && (formDataSignUp.get('name').dirty || formDataSignUp.get('name').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <label class="js-item" for="email">
        <span>email</span>
        <input
          required
          email ngModel
          formControlName="email"
          id="email"
          name="email"
          type="email"/>
      </label>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.email">
          <div class="error-message" *ngIf="formDataSignUp.get('email').hasError(error.type) &&
    (formDataSignUp.get('email').dirty || formDataSignUp.get('email').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <label class="js-item" for="password">
        <span>password</span>
        <input
          required
          formControlName="password"
          id="password"
          name="password" type="password"/>
      </label>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="error-message"
               *ngIf="formDataSignUp.get('password').hasError(error.type) && (formDataSignUp.get('password').dirty || formDataSignUp.get('password').touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <label class="js-item" for="confirm_password">
        <span>confirm_password</span>
        <input
          formControlName="confirm_password"
          id="confirm_password"
          type="password"/>
      </label>
      <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.passwordNotMatch">
          <div class="error-message" *ngIf="isMatchPassword && formDataSignUp.get('confirm_password').touched">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <button type="submit">Register</button>

    </form>

    <span class="question" data-sign="login"
    >Already have any account? Sign in</span>

  </div>

</div>
