:host ::ng-deep {

  .p-card {
    background-color: transparent;
    box-shadow: none;
  }

  .p-card .p-component {
    width: 100%;
    height: 100%;
  }

  .p-card button {
    width: 300px !important;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s;

  }

  .tag-color {
    background-color: #3f4b5b;
    border-radius: 8px;
    padding: 5px 5px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
  }

  .preview-title{
    color: #00bcd4;
    border: 1px solid #3f4b5b;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  hr{
    border: 1px solid #3f4b5b;
    margin: 0;
  }

}
