<p-card
  [style]="{width: '100%'}"
  header="{{command.name}}"
  styleClass="p-card-shadow"
  subheader="{{command.owner}}">

  <p>{{command.description}}!</p>

  <h3>information that need to be provided</h3>
  <p>
    <span *ngFor="let parameter of command.parameters" class="p-tag p-tag-rounded p-tag-info mr-2">
      {{parameter.order}}. {{parameter.name}} ({{parameter.type}})
    </span>
  </p>

  <h3>Examples of how to run the command</h3>
  <p>
    <span *ngFor="let pattern of command.patterns" class="p-tag p-tag-rounded p-tag-info  mr-2">
      {{pattern.syntax}}
    </span>
  </p>


  <p-footer>
    <button (click)="installCommand(command.id)" icon="pi pi-check" label="Install" pButton type="button"></button>
  </p-footer>

</p-card>
