.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-fail {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

.alert-pending {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

.figure {
  z-index: 1;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.23);
}
