:host ::ng-deep{
  .card {
    background-color: #2b2d30;
    width: 100%;
    height: 60px;
    cursor: pointer;
    border-bottom: .2px solid rgba(101, 105, 112, 0.26);



    &:hover {
      box-shadow: 0 0.125rem 0.5rem 0 rgba(49, 49, 50, 0.1);
      background-color: rgba(123, 133, 140, 0.39);
    }



  }

  .card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }


  .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 10px;
    padding: 0;
    border: none;

    img {
      width: 100%;
      height: auto;
    }
  }

  .command-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 0;

    .command-name{
      margin: 0;
      color: white;
    }
  }

  .command-owner{
    margin: 0;
    color: rgba(255, 255, 255, 0.51);
    font-size: 14px;
    font-weight: 500;
  }

}
