.container {
  background: transparent;
  margin: 0;
}

h1 {
  color: #fff;
  font: 10vh/1.2 sans-serif;
}

#canvas {
  width: 30rem;
  height: 17px;
}

.btn-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  font-size: 2vw;
  border-radius: 9em;
  padding: 0.5em 1.5em;
  border: none;
  background: rgba(255, 255, 255, 0.8);
}

.close-button {
  width: 150px !important;
  display: none !important;
}
