.main-content {
  //width: calc(100% - 5rem);
  width: 100vw;
  height: 100vh;
  //margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all .5s ease;
  background: #f4f7fa;
  //padding: 3rem;
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}
.modalApp{
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
//margin-left: 0;
}
