:host {
  a {
    color: inherit;
    text-decoration: inherit;
  }

  .active {
    color: #f7ca18;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

  ::selection {
    background-color: #f7ca18;
    color: #1b1b1b;
  }

  nav {
    width: 100%;
    background-color: #232a33;
    position: fixed;
    bottom: 0;
    height: 100px;
    overflow: hidden;
  }

  nav ul {
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 140vw;
  }

  nav li {
    float: left;
    display: inline-block;
    height: 98px;
    margin: 0 0 2px;
    line-height: 100px;
    width: 33vw;
    text-align: center;
    color: #c4c4c4;
    transition: background-color 0.5s 0.2s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    transform: translateY(100%);
  }

  nav li.active {
    background-color: #151515;
    color: #efefef;
  }

  nav li.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f7ca18;
  }

  nav li:nth-child(1) {
    animation: pop 0.5s 0.15s 1 forwards;
  }

  nav li:nth-child(2) {
    animation: pop 0.5s 0.3s 1 forwards;
  }

  nav li:nth-child(3) {
    animation: pop 0.5s 0.45s 1 forwards;
  }

  nav li:nth-child(4) {
    animation: pop 0.5s 0.6s 1 forwards;
  }

  nav li:nth-child(5) {
    animation: pop 0.5s 0.75s 1 forwards;
  }

  nav li:nth-child(6) {
    animation: pop 0.5s 0.9s 1 forwards;
  }

  nav li:nth-child(7) {
    animation: pop 0.5s 1.05s 1 forwards;
  }

  nav li:hover {
    color: #ececec;
  }

  nav li:active {
    background-color: #222;
  }

  nav li:nth-child(1):hover ~ .slide {
    left: 0;
  }

  nav li:nth-child(2):hover ~ .slide {
    left: 33vw;
  }

  nav li:nth-child(3):hover ~ .slide {
    left: 67vw;
  }

  nav li:nth-child(4):hover ~ .slide {
    left: 60vw;
  }

  nav li:nth-child(5):hover ~ .slide {
    left: 80vw;
  }

  nav li:nth-child(6):hover ~ .slide {
    left: 100vw;
  }

  nav li:nth-child(7):hover ~ .slide {
    left: 120vw;
  }

  nav li.slide {
    position: absolute;
    left: -34vw;
    top: 0;
    background-color: #fff;
    z-index: -1;
    height: 2px;
    margin-top: 98px;
    transition: left 0.3s ease;
    transform: translateY(0);
  }

  section {
    background-color: rgb(32, 38, 46) !important;
    height: 100vh;
    display: flex;

  }

  .user-message {
    font-size: 1rem;
    animation: linear 2s .25s ease-in-out both !important;
    width: 100%;
    align-self: center;
    margin: 30px auto;
    text-transform: capitalize !important;
    font-weight: lighter !important;

    div {
      color: #f7ca18;
      cursor: pointer;

    }

    a::after {
      content: "";
      bottom: -2px !important;
      width: -4px !important;
      animation: linkAfter 0.5s 1s ease both;
    }
  }

  section {
    .title {
      max-width: 60%;
      width: 100%;
      align-self: center;
      transform: translateY(-50px);
      margin: 0 auto;
      overflow: hidden;
      padding-bottom: 10px;
    }

  }

  section {
    .title span {
      display: inline-block;
      font-size: 5vw;
      color: #efefef;
      width: 100%;
      text-transform: uppercase;
      transform: translateX(-100%);
      animation: byBottom 1s ease both;
      font-weight: 600;
      letter-spacing: 0.25vw;
    }

  }

  section .title span:last-child {
    font-size: 1rem;
    animation: byBottom 1s 0.25s ease both;
  }

  section .title span a {
    position: relative;
    display: inline-block;
    margin-left: 0.5rem;
    text-decoration: none;
    color: #f7ca18;
  }

  section .title span a::after {
    content: "";
    height: 2px;
    background-color: #f7ca18;
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    animation: linkAfter 0.5s 1s ease both;
  }

  @-moz-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes pop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-o-keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes byBottom {
    0% {
      transform: translateY(150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @-moz-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @-webkit-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @-o-keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }
  @keyframes linkAfter {
    0% {
      width: 0;
    }
    100% {
      width: 30px;
    }
  }


  .more-link {
    user-select: none;
  }


}
