@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/matrialIcons.woff2') format('woff2');
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //background: linear-gradient(135deg, #0d5e69, #254a5d);
  background-color: rgb(32,38,46)!important;
  background-size: cover;

  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }

  a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;

    &:hover {
      background: #fff;
      color: #ed3330 !important;
      letter-spacing: 1px;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.4s ease 0s;
    }
  }
}

.snackbar-success {
  background-color: #29D49F;
  color: #fff;
}

.snackbar-fail {
  background-color: #EF4470;
  color: #fff;
  font-weight: bold;
}

.snackbar-pending {
  background-color: #F8C23F;
  color: #fff;
}

general-snakbar {
  background-color: #262626;
  color: #0F9B48;
}

.btn-icon-align {
  padding-top: 12px !important;
}
