<div class="flex">
  <input
    [(ngModel)]="parameters[order]['name']"
    class="ml-1"
    type="text"
    pInputText
    autofocus
    required>

  <div class="field p-1">
    <p-dropdown [(ngModel)]="parameters[order]['type']"
                id="parameterOneType"
                [options]="parameterTypes"
                placeholder="Select Type"
                required>
      <ng-template let-option pTemplate="item">
        <span>{{option.label}}</span>
      </ng-template>
    </p-dropdown>
    <small *ngIf="submitted && !parameters[order]['type']" class="p-error">Parameter type is required.</small>
  </div>
</div>
